<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjfei.antibot.stream.dao.VariableMapper">
    <sql id="columns">
        `id`,
        `name`,
        `workflow_id` as workflowId,
        `type`,
        `sub_type` as subType,
        `key_pattern` as keyPattern,
        `filter_pattern` as filterPattern,
        `agg_pattern` as aggPattern,
        `value_type` as valueType
    </sql>
    <select id="selectByWorkflowIdAndType" resultType="com.yjfei.antibot.bean.StreamVariableBean">
        select
        <include refid="columns"/>
        from antibot_stream_variables
        where workflow_id = #{workflowId} and type = #{type}
    </select>
</mapper>