<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjfei.antibot.dao.ModelFieldMapper">
    <sql id="columns">
        `id`,
        `model_id`,
        `code`,
        `name`,
        `data_type`,
        `required`,
        `def_value`,
        `update_by` as updateBy,
        `update_time` as updateTime,
        `create_by` as createBy,
        `create_time` as createTime
    </sql>

    <select id="selectByModelId" resultType="com.yjfei.antibot.bean.ModelFieldBean">
        select
        <include refid="columns"/>
        from `antibot_model_field`
        where `model_id` = #{modelId}
    </select>

    <delete id="deleteByModelId" >
        delete
        from `antibot_model_field`
        where `model_id` = #{modelId}
    </delete>

</mapper>